*{
  margin: 0;
  padding: 0;
}
.width{
  width: 100%;
}
.listItem{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media only screen and (max-width:1210px){
  .listItem{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
  }
}
@media only screen and (max-width:1000px){
  .listItem{
    grid-template-columns: 1fr 1fr  ;
  }
}
@media only screen and (max-width:500px){
  .listItem{
    grid-template-columns: 1fr   ;
  }
}